.searchfield {
    margin-top: 10%;
    width: 60%;
    height: 7% ! important;
    display: block ! important;
    margin-left: auto;
    margin-right: auto;
}

.searchbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}
