{% extends "template.html" %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js" ></script>
{% endblock %}
{% block menubar_links %}
<li class="active"><a href="/app_procon/">Empresas</a></li>
<li><a href="/app_procon/ranking">Ranking</a></li>
<li><a href="/app_procon/compare">Compare</a></li>
<li><a href="/app_procon/comofunciona">Como funciona</a></li>
<li><a href="/app_procon/procon">Procon</a></li>
<li><a href="/app_procon/charts">Charts</a></li>
{% endblock %}
{% block content %}
<form action="/app_procon/" method="post">{% csrf_token  %}
{{ form.as_p }}
<input type="submit" class="btn btn-primary searchbutton" name="searchbutton" value="Buscar"/>
</form>
{% if fornecedores %}
<p>
{{ fornecedores|length }} empresas encontradas 
</p>
{% for fornecedor in fornecedores %}
<p>
<a href="#">
{{ fornecedor.str_razao_social }}
</a>
</p>
{% endfor %}
{% endif %}
{% endblock %}
