{% extends "template.html" %}
{% block menubar_links %}
<li><a href="/companies">Busca</a></li>
<li class="active"><a href="/companies/ranking">Ranking</a></li>
<li><a href="/companies/compare">Compare</a></li>
<li><a href="/companies/comofunciona">Como funciona</a></li>
<li><a href="/companies/procon">Procon</a></li>
<li><a href="/companies/charts">Charts</a></li>
{% endblock %}
{% block content %}
<h2>Empresas com mais reclamações registradas</h2>
<table>
<th>Ranking</th>
<th>Nome(Razão social)</th>
<th>Quantidade de reclamações</th>
{% for fornecedor in fornecedores %}
<tr>
<td>{{ forloop.counter }}</td>
<td><a href="/companies/{{ fornecedor.id }}">{{ fornecedor.str_razao_social }}</a></td>
<td>{{ fornecedor.quantidade_reclamacoes }}</td>
</tr>
{% endfor  %}
</table>
{% endblock %}
