{% extends "template.html" %}
{% block menubar_links %}
<li><a href="/companies">Busca</a></li>
<li class="active"><a href="/companies/ranking">Ranking</a></li>
<li><a href="/companies/compare">Compare</a></li>
<li><a href="/companies/comofunciona">Como funciona</a></li>
<li><a href="/companies/procon">Procon</a></li>
<li><a href="/companies/charts">Charts</a></li>
{% endblock %}
{% block content %}
<p>Ranking</p>
<table>
<th>ID</th>
<th>Razão social</th>
<th>Radical CNPJ</th>
<th>Quantidade de reclamações</th>
{% for fornecedor in fornecedores %}
<tr>
{% for coluna in fornecedor %}
<td>{{ coluna }}</td>
{% endfor %}
</tr>
{% endfor  %}
</table>
{% endblock %}
